In [22]:
using Pkg
using Random, DataFrames, CSV

In [30]:
function one_hot_encode(X, names)
    X2 = deepcopy(X)
    deletecols!(X2, Symbol.(names))
    for i in names
        vales = unique(X[i])
        for j in vales
           X2[Symbol(string(i)*"_"*string(j))] = (X[i].==j)*1
        end
    end
    return X2
end

one_hot_encode (generic function with 1 method)

In [43]:
bc_df = CSV.read("./breast_cancer/wdbc.data";
    header=false)
first(bc_df,3)

3×32 DataFrame. Omitted printing of 25 columns
│ Row │ Column1  │ Column2 │ Column3 │ Column4 │ Column5 │ Column6 │ Column7 │
│     │ Int64    │ String  │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼──────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 842302   │ M       │ 17.99   │ 10.38   │ 122.8   │ 1001.0  │ 0.1184  │
│ 2   │ 842517   │ M       │ 20.57   │ 17.77   │ 132.9   │ 1326.0  │ 0.08474 │
│ 3   │ 84300903 │ M       │ 19.69   │ 21.25   │ 130.0   │ 1203.0  │ 0.1096  │

In [24]:
credit_df = CSV.read("./credit-screening/crx.data";header=["A1","A2","A3","A4","A5","A6","A7","A8","A9","A10",
        "A11","A12","A13","A14","A15","A16"])
first(credit_df,3)

3×16 DataFrame. Omitted printing of 9 columns
│ Row │ A1     │ A2     │ A3      │ A4     │ A5     │ A6     │ A7     │
│     │ String │ String │ Float64 │ String │ String │ String │ String │
├─────┼────────┼────────┼─────────┼────────┼────────┼────────┼────────┤
│ 1   │ b      │ 30.83  │ 0.0     │ u      │ g      │ w      │ v      │
│ 2   │ a      │ 58.67  │ 4.46    │ u      │ g      │ q      │ h      │
│ 3   │ a      │ 24.50  │ 0.5     │ u      │ g      │ q      │ h      │

In [35]:
categorical_vars = Symbol.(["A1" ;"A4";"A5";"A6";"A7";"A9";"A10";"A12";"A13"])

X = one_hot_encode(credit_df, categorical_vars) 
first(X,3)

3×52 DataFrame. Omitted printing of 44 columns
│ Row │ A2     │ A3      │ A8      │ A11   │ A14    │ A15   │ A16    │ A1_b  │
│     │ String │ Float64 │ Float64 │ Int64 │ String │ Int64 │ String │ Int64 │
├─────┼────────┼─────────┼─────────┼───────┼────────┼───────┼────────┼───────┤
│ 1   │ 30.83  │ 0.0     │ 1.25    │ 1     │ 00202  │ 0     │ +      │ 1     │
│ 2   │ 58.67  │ 4.46    │ 3.04    │ 6     │ 00043  │ 560   │ +      │ 0     │
│ 3   │ 24.50  │ 0.5     │ 1.5     │ 0     │ 00280  │ 824   │ +      │ 0     │

In [25]:
bankruptcy_df = CSV.read("./Qualitative_Bankruptcy/Qualitative_Bankruptcy.csv")
first(bankruptcy_df,3)

3×7 DataFrame
│ Row │ IR     │ MR     │ FF     │ CR     │ CO     │ OP     │ Class  │
│     │ String │ String │ String │ String │ String │ String │ String │
├─────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┤
│ 1   │ P      │ P      │ A      │ A      │ A      │ P      │ NB     │
│ 2   │ N      │ N      │ A      │ A      │ A      │ N      │ NB     │
│ 3   │ A      │ A      │ A      │ A      │ A      │ A      │ NB     │

In [36]:
categorical_vars = Symbol.(["IR" ;"MR";"FF";"CR";"CO";"OP"])
X = one_hot_encode(bankruptcy_df, categorical_vars) 
first(X,3)

3×19 DataFrame. Omitted printing of 10 columns
│ Row │ Class  │ IR_P  │ IR_N  │ IR_A  │ MR_P  │ MR_N  │ MR_A  │ FF_A  │ FF_P  │
│     │ String │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼────────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ NB     │ 1     │ 0     │ 0     │ 1     │ 0     │ 0     │ 1     │ 0     │
│ 2   │ NB     │ 0     │ 1     │ 0     │ 0     │ 1     │ 0     │ 1     │ 0     │
│ 3   │ NB     │ 0     │ 0     │ 1     │ 0     │ 0     │ 1     │ 1     │ 0     │

In [26]:
creadit_default_df = CSV.read("default of credit card clients.csv";header=true)
first(creadit_default_df,3)

3×25 DataFrame. Omitted printing of 18 columns
│ Row │ ID    │ LIMIT_BAL │ SEX   │ EDUCATION │ MARRIAGE │ AGE   │ PAY_0 │
│     │ Int64 │ Int64     │ Int64 │ Int64     │ Int64    │ Int64 │ Int64 │
├─────┼───────┼───────────┼───────┼───────────┼──────────┼───────┼───────┤
│ 1   │ 1     │ 20000     │ 2     │ 2         │ 1        │ 24    │ 2     │
│ 2   │ 2     │ 120000    │ 2     │ 2         │ 2        │ 26    │ -1    │
│ 3   │ 3     │ 90000     │ 2     │ 2         │ 2        │ 34    │ 0     │

In [39]:
categorical_vars = Symbol.(["SEX" ;"EDUCATION";"MARRIAGE"])
X = one_hot_encode(creadit_default_df, categorical_vars) 
first(X,3)

3×35 DataFrame. Omitted printing of 27 columns
│ Row │ ID    │ LIMIT_BAL │ AGE   │ PAY_0 │ PAY_2 │ PAY_3 │ PAY_4 │ PAY_5 │
│     │ Int64 │ Int64     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 20000     │ 24    │ 2     │ 2     │ -1    │ -1    │ -2    │
│ 2   │ 2     │ 120000    │ 26    │ -1    │ 2     │ 0     │ 0     │ 0     │
│ 3   │ 3     │ 90000     │ 34    │ 0     │ 0     │ 0     │ 0     │ 0     │

In [27]:
caesarian_df = CSV.read("caesarian.csv";header=true)
first(caesarian_df,3)

3×6 DataFrame. Omitted printing of 2 columns
│ Row │ Age   │ Delivery number │ Delivery time │ Blood of Pressure │
│     │ Int64 │ Int64           │ Int64         │ Int64             │
├─────┼───────┼─────────────────┼───────────────┼───────────────────┤
│ 1   │ 22    │ 1               │ 0             │ 2                 │
│ 2   │ 26    │ 2               │ 0             │ 1                 │
│ 3   │ 26    │ 2               │ 1             │ 1                 │

In [40]:
categorical_vars = Symbol.(["Delivery number" ;"Delivery time";"Blood of Pressure";"Heart Problem"])
X = one_hot_encode(caesarian_df, categorical_vars) 
first(X,3)

3×14 DataFrame. Omitted printing of 10 columns
│ Row │ Age   │ Caesarian │ Delivery number_1 │ Delivery number_2 │
│     │ Int64 │ Int64     │ Int64             │ Int64             │
├─────┼───────┼───────────┼───────────────────┼───────────────────┤
│ 1   │ 22    │ 0         │ 1                 │ 0                 │
│ 2   │ 26    │ 1         │ 0                 │ 1                 │
│ 3   │ 26    │ 0         │ 0                 │ 1                 │