In [3]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("./Data/caesarian.csv")

In [5]:
data.iloc[2:,:]

,Age,Delivery number,Delivery time,Blood of Pressure,Heart Problem,Caesarian
2,26,2,1,1,0,0
3,28,1,0,2,0,0
4,22,2,0,1,0,1
5,26,1,1,0,0,0
6,27,2,0,1,0,0
...,...,...,...,...,...,...
75,27,2,1,1,0,0
76,33,4,0,1,0,1
77,29,2,1,2,0,1
78,25,1,2,0,0,1
79,24,2,2,1,0,0

In [6]:
split = int(len(data)*0.75)
train = data.iloc[:split,:]
test = data.iloc[split:,:]

In [7]:
X = train.iloc[:,0:5]
y = train.iloc[:,5]

In [8]:
lr = LogisticRegression(penalty="l2").fit(X, y)

In [10]:
lr.predict_proba(test.iloc[:,0:5])

array([[0.67740989, 0.32259011],
       [0.55654971, 0.44345029],
       [0.55086381, 0.44913619],
       [0.16738189, 0.83261811],
       [0.29479617, 0.70520383],
       [0.53615479, 0.46384521],
       [0.45107816, 0.54892184],
       [0.16272851, 0.83727149],
       [0.59574443, 0.40425557],
       [0.67302395, 0.32697605],
       [0.57388414, 0.42611586],
       [0.32990832, 0.67009168],
       [0.51651395, 0.48348605],
       [0.13392491, 0.86607509],
       [0.21111776, 0.78888224],
       [0.58463501, 0.41536499],
       [0.40072852, 0.59927148],
       [0.56740826, 0.43259174],
       [0.72347748, 0.27652252],
       [0.64452722, 0.35547278]])

In [55]:
sum(test.iloc[:,5]==lr.predict(test.iloc[:,0:5]))/len(test.iloc[:,5])

0.5

In [ ]:
sum(-z_k[i]/(1+exp(y[i]*dot(w_k,X[i,:])))*y[i].*X[i,:] for i in 1:n)

In [ ]:
data = pd.read_csv("./Data/caesarian.csv")

In [1]:
log(exp(1))

NameError: name 'log' is not defined

SyntaxError: invalid character in identifier (<ipython-input-12-107355933036>, line 1)

SyntaxError: invalid character in identifier (<ipython-input-11-a64cf6fe3591>, line 1)