In [100]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import pandas as pd
import numpy as np

In [67]:
data = pd.read_csv("./Data/caesarian.csv")
data.iloc[0:3,:]

,Age,Delivery number,Delivery time,Blood of Pressure,Heart Problem,Caesarian
0,22,1,0,2,0,0
1,26,2,0,1,0,1
2,26,2,1,1,0,0

In [221]:
def test(train, test, penalty="l2"):
#     data = pd.get_dummies(df, drop_first=True)
#     X = data.iloc[:,0:len(data.columns)-1]
#     y = data.iloc[:,len(data.columns)-1]
    X_train, X_test = train.iloc[:,0:len(test.columns)-1], test.iloc[:,0:len(test.columns)-1]
    y_train, y_test = train.iloc[:,len(test.columns)-1], test.iloc[:,len(test.columns)-1]
    lr = LogisticRegression(penalty=penalty,max_iter=10000).fit(X_train, y_train)
    accuracy = sum(y_test==lr.predict(X_test))/len(y_test)
    s = lr.score(X_test, y_test)
    auc = metrics.roc_auc_score(y_test, lr.predict_proba(X_test)[:,1])
    return lr, auc, accuracy

In [222]:
train_df = pd.read_csv("./Data/caesarian_train.csv")
test_df = pd.read_csv("./Data/caesarian_test.csv")

In [223]:
lg, auc, acc = test(train_df, test_df, penalty = "none")
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.6565656565656566 Accuracy: 0.6

In [225]:
lg, auc, acc = test(train_df, test_df)
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.7878787878787878 Accuracy: 0.65

In [226]:
train_df = pd.read_csv("./Data/monks_train.csv")
test_df = pd.read_csv("./Data/monks_test.csv")

In [227]:
lg, auc, acc = test(train_df, test_df, penalty = "none")
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.7231034482758621 Accuracy: 0.8055555555555556

In [228]:
lg, auc, acc = test(train_df, test_df)
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.7148275862068966 Accuracy: 0.8055555555555556

In [229]:
train_df = pd.read_csv("./Data/credit_screening_test.csv")
test_df = pd.read_csv("./Data/credit_screening_test.csv")

In [230]:
lg, auc, acc = test(train_df, test_df, penalty = "none")
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.9785547785547786 Accuracy: 0.9236641221374046

In [231]:
lg, auc, acc = test(train_df, test_df)
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.9571095571095571 Accuracy: 0.9007633587786259

In [198]:
data = pd.read_csv("Data/framingham.csv")

In [199]:
lg, auc, acc = test(data, 0.75, penalty = "none")
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.9357530864197531 Accuracy: 0.8765027322404372

In [200]:
seed = 1
lg, auc, acc = test(data, 0.75)
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.9360493827160494 Accuracy: 0.8797814207650273

In [204]:
data = pd.read_csv("Data/default of credit card clients.csv")

In [205]:
pd.get_dummies(data, drop_first=True)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [202]:
lg, auc, acc = test(data, 0.75, penalty = "none")
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.6501707782984041 Accuracy: 0.7830666666666667

In [203]:
lg, auc, acc = test(data, 0.75)
print("AUC:",auc,"Accuracy:",acc)

AUC: 0.6501443010428375 Accuracy: 0.7830666666666667